@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */
/*@media (orientation: portrait) and (min-width: 360px) { */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.password {
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: 4;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 60px;
	line-height: 100px;
	letter-spacing: 3px;
	transition: 0.7s;
}

.left {
	transform: translateY(120px);
}

section.photo {
	position: absolute;
	top: 280px;
	left: 0;
	width: 50%;
	text-align: center;
}

section.letters {
	position: absolute;
	top: 300px;
	right: 0;
	width: 47%;
	text-align: center;
}

button {
	width: 40px;
	height: 40px;
	margin: 6px;
	background-color: transparent;
	font-size: 20px;
	border: rgb(179, 179, 179) 2px solid;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

button:hover {
	border-color: white;
	background-color: rgb(26, 26, 26);
}

.wrong {
	border-color: red;
	color: red;
	background-color: rgb(50, 0, 0);
	pointer-events: none;
}

.correct {
	border-color: green;
	color: green;
	background-color: rgb(0, 50, 0);
	pointer-events: none;
}

.win {
	position: absolute;
	top: 100%;
	width: 100%;
	color: white;
	text-align: center;
	transition: 0.7s;
}

.win2,
.win3 {
	position: absolute;
	top: -100%;
	width: 100%;
	font-size: 0px;
	text-align: center;
	font-size: 80px;
	letter-spacing: 30px;
	transition: 0.7s;
	color: darkviolet;
}

section i:last-child {
	letter-spacing: 0;
}

.win2Down {
	top: 20px;
}

.win3 {
	top: 100%;
}

.win3Up {
	transform: translateY(-100px);
}

.lose {
	position: absolute;
	top: 35%;
	left: 25%;
	width: 50%;
	color: white;
	text-align: center;
}

.hidden {
	display: none;
}

span {
	text-transform: uppercase;
}

body > button {
	display: block;
	position: fixed;
	width: 20%;
	height: 15%;
	left: 40%;
	top: 55%;
	z-index: 2;
	background-color: black;
	border: 5px black solid;
	line-height: 80%;
	font-size: 40px;
	text-align: center;
	color: white;
	border-radius: 50px;
	box-shadow: inset 0 0 10px white, 0 0 25px white;
}

.curtain {
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
}

.curtain h1 {
	color: white;
	text-align: center;
	margin: 10% 5% 5% 5%;
	text-transform: uppercase;
	font-size: 60px;
	font-family: arial;
}

.restart,
.gift {
	border: none;
	width: 200px;
	height: 120px;
	line-height: 100%;
	text-align: center;
	margin: 50px 100px;
	color: lime;
}

.gift {
	margin: 0;
	width: 100%;
	height: 100%;
	letter-spacing: 10px;
}

p {
	text-align: center;
	font-size: 36px;
	font-family: arial;
}

h1 i {
	margin: 3px;
	font-size: 40px;
}

button i {
	margin: auto;
	color: royalblue;
	font-size: 100px;
}

.reward {
	position: inherit;
	top: 100%;
	bottom: 0;
	left: 0;
	width: 100%;
	transition: 1s;
	z-index: 3;
	background-color: cornflowerblue;
}

.ghost {
	opacity: 0;
}

.up {
	top: 25px;
}

.down {
	top: 180px;
}

.win div {
	margin: 5%;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

section.winUp {
	transform: translateY(-200px);
}

/* 1
1
1
1
1
1
1
1
1
1
1
1
1 */

@media (orientation: portrait) {
	.curtain h1 {
		margin: 5%;
		margin-top: 20%;
		font-size: 40px;
	}

	.popup {
		width: 60%;
		height: 80px;
		left: 20%;
		top: 50%;
		line-height: 70px;
		font-size: 35px;
	}

	.password {
		font-size: 30px;
		line-height: 8%;
	}

	.left {
		transform: translateY(180px);
	}

	.up {
		top: 50px;
	}

	.down {
		top: 155px;
	}

	.photo img {
		width: 100%;
	}

	section.photo {
		top: 145px;
		left: 10%;
		width: 80%;
	}

	section.letters {
		top: 350px;
		left: 0;
		width: 100%;
	}

	.letters button {
		margin: 3px;
		width: 35px;
		height: 35px;
	}

	section.winUp {
		transform: translateY(-150px);
	}

	.win2,
	.win3 {
		font-size: 40px;
		letter-spacing: 15px;
	}

	.win2Down {
		top: 50px;
	}

	.win3Up {
		transform: translateY(-80px);
	}

	.restart {
		margin: 50px 0 0 0;
		width: 90%;
		height: 60px;
		border: rgb(179, 179, 179) 2px solid;
	}
}

/* 1
1
1
1
1
1
1
1
1
1
1 */

@media (orientation: landscape) and (max-width: 840px) {
	.curtain h1 {
		font-size: 45px;
	}

	body > button {
		width: 30%;
		height: 20%;
		left: 35%;
		top: 60%;
		line-height: 80%;
		font-size: 30px;
	}

	.password {
		top: 30px;
		font-size: 40px;
	}

	.up {
		top: -15px;
	}

	.down {
		top: 80px;
		z-index: 0;
	}

	.left {
		font-size: 30px;
		transform: translateY(65px);
	}

	section.photo {
		top: 120px;
		width: 45%;
	}

	section.letters {
		top: 120px;
		width: 50%;
		right: 10px;
	}

	.photo img {
		width: 100%;
	}

	button {
		width: 33px;
		height: 33px;
		margin: 2px;
		font-size: 15px;
	}

	section.win {
		top: 100%;
	}

	section.winUp {
		transform: translateY(-90px);
	}

	.win2,
	.win3 {
		font-size: 40px;
		letter-spacing: 40px;
	}

	.win2Down {
		top: 10px;
	}

	.win3Up {
		transform: translateY(-50px);
	}

	.win div {
		font-size: 13px;
		margin: 3%;
	}

	button i {
		font-size: 50px;
	}

	.lose {
		top: 45%;
	}

	.lose p {
		font-size: 30px;
	}

	.restart {
		margin: 30px 0 0 0;
		width: 50%;
		height: 60px;
		border: rgb(179, 179, 179) 2px solid;
	}
}

/* 1
1
1
1
1
1
1
1
1 */

@media (orientation: landscape) and (min-width: 1600px) {
	.curtain h1 {
		margin-top: 15%;
		font-size: 70px;
	}

	.popup {
		height: 10%;
	}

	.left {
		transform: translateY(250px);
	}

	section.winUp {
		transform: translateY(-330px);
	}

	.win2,
	.win3 {
		font-size: 120px;
		letter-spacing: 80px;
	}

	.win2Down {
		top: 50px;
	}

	.win3Up {
		transform: translateY(-180px);
	}
}
